body {
   margin: 130px 50px 0px 700px;
   font-family: Arial, sans-serif;
   background-color: aquamarine;
   
}
.container {
  width: 500px;
  height: 450px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  padding-top:20px;
  padding: 16px;
}

  h1 {
    text-align: left;
  }
  input[type=text], input[type=password] {
    width: 100%;
    padding: 10px 10px;
    margin: 15px 0;
    display: inline-block;
    border: 3px solid hwb(108 7% 33% / 0.464);;
    box-sizing: border-box;
    border-radius: 6px;
    -webkit-border-radius: 6PX;
    -moz-border-radius: 6PX;
    -ms-border-radius: 6PX;
    -o-border-radius: 6PX;
}
  button {
    background-color: rgb(14, 161, 234);
    border-radius: 6px;
    color: rgb(6, 6, 6);
    padding: 14px 20px;
    margin: 10px 0;
    border: rgba(229, 104, 14, 0.595);
    cursor: pointer;
    width: 100%;
    -webkit-border-radius: 6PX;
    -moz-border-radius: 6PX;
    -ms-border-radius: 6PX;
    -o-border-radius: 6PX;
}
  button:hover {
    opacity: 0.6;
  }
  span.psw {
    float: right;
    padding-top: 16px;
  }
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
  }
  .signupbotton {
    cursor: pointer;
    margin-top: -13px;
    width: 150px;
    height: auto;
  }
  .newuser {
  margin-bottom: 9px;
  }
  .signbtn {
    text-align: left;
  }
  .backbtn {
    margin-right: 41%;
    text-transform: uppercase;
    color:red;
    text-align: right
  }
  .resetbtn {
    width: 150px;
    height: auto;
    margin-left: 32%;
  }
  .description {
    display:inline-block;
    position:absolute;
    top:27%;
    left:6%;
    /* margin-left: -640px; */
    /* margin-top: -470px; */
    font-family: 'Indie Flower', cursive;
    color: rgb(247, 25, 9);
    font-size: x-large;
    /* border:2px solid black; */
  }